.App {
  background-color: #404040;
  min-height: 100vh;
  color: white;
  padding-bottom: 96px;
}

.background {
  background-image: url(https://images.unsplash.com/photo-1497366216548-37526070297c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80);
  background-size: cover;
}

.custom-button {
  width: 100%;
  padding: 8px 20px;
  cursor: pointer;
}
.image-preview {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.click-preview {
  position: absolute;
  width: 100%;
  text-align: center;
}

.container {
  padding: 0 72px;
}

.calendar-container {
  height: 1050px;
  position: relative;
}

.toolbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.toolbar-left {
  display: flex;
  gap: 30px;
  align-items: center;
}

.toolbar-left button {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

.toolbar-left .date-label {
  margin: 0;
}

.toolbar-right {
  display: flex;
  align-items: center;
  border: 1px solid #2bbecb;
  border-radius: 8px;
}

.toolbar-right label {
  width: 120px;
  font-size: 16px;
  font-weight: 400;
  padding: 4px 16px;
  text-align: left;
  border-top: unset;
  border-bottom: unset;
  background: transparent;
  border: none;
}

.toolbar-right label:first-of-type {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-left: unset;
  border-right: 1px solid #2bbecb;
}
.toolbar-right label:last-of-type {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-right: unset;
  border-left: 1px solid #2bbecb;
}

.rbc-month-view .rbc-day-bg {
  border: 1px solid #2bbecb;
}

.rbc-month-header .rbc-header {
  border: 1px solid #2bbecb;
  border-bottom: 0;
  padding: 18px 12px;
  text-align: left;
}
.rbc-row .rbc-date-cell {
  color: #2bbecb;
  text-align: left;
  padding: 12px;
}
.rbc-row .rbc-row-segment {
  padding: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.rbc-row .rbc-event,
.rbc-day-slot .rbc-background-event {
  background-color: #2bbecb;
}
.rbc-timeslot-group .rbc-day-slot .rbc-event {
  background-color: #2bbecb;
}

.rbc-month-header .rbc-header span {
  text-transform: uppercase;
  border-bottom: 0;
}

.rbc-month-view .rbc-month-row + .rbc-month-row {
  border-top: 0;
}

.rbc-date-cell .rbc-button-link {
  font-size: 21px;
  font-weight: 500;
}
