.App {
  background-color: #404040;
  min-height: 100vh;
  color: white;
  padding-bottom: 96px;
}

.background {
  background-image: url(https://images.unsplash.com/photo-1497366216548-37526070297c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80);
  background-size: cover;
}

.custom-button {
  width: 100%;
  padding: 8px 20px;
  cursor: pointer;
}
.image-preview {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.click-preview {
  position: absolute;
  width: 100%;
  text-align: center;
}

.container {
  height: 100vh;
  padding: 0 72px;
}

.calendar-container {
  height: 100%;
  position: relative;
}

.rbc-month-view .rbc-day-bg {
  border: 1px solid #2bbecb;
}

.rbc-month-header .rbc-header {
  border: 1px solid #2bbecb;
  border-bottom: 0;
  padding: 18px 12px;
  text-align: left;
}
.rbc-row .rbc-date-cell {
  color: #2bbecb;
  text-align: left;
  padding: 12px;
}
.rbc-row .rbc-row-segment {
  padding: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.rbc-row .rbc-event,
.rbc-day-slot .rbc-background-event {
  background-color: #2bbecb;
}

.rbc-month-header .rbc-header span {
  text-transform: uppercase;
  border-bottom: 0;
}

.rbc-month-view .rbc-month-row + .rbc-month-row {
  border-top: 0;
}

.rbc-calendar .rbc-toolbar .rbc-btn-group {
  border: 1px solid #2bbecb;
  border-radius: 8px;
}
.rbc-calendar .rbc-toolbar .rbc-btn-group button {
  border-top: unset;
  border-bottom: unset;
  border: 1px solid #2bbecb;
}
.rbc-calendar .rbc-toolbar .rbc-btn-group button:hover {
  background-color: #eb008b;
  opacity: 0.5;
  color: white;
}

.rbc-calendar .rbc-toolbar .rbc-btn-group :first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-left: unset;
}
.rbc-calendar .rbc-toolbar .rbc-btn-group :last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-right: unset;
}

.rbc-calendar .rbc-toolbar .rbc-btn-group .rbc-active {
  background-color: #eb008b;
  color: white;
}
