.App {
  background-color: #404040;
  min-height: 100vh;
  color: white;
  padding-bottom: 96px;
}

/* Camera Effects */
.custom-button {
  width: 100%;
  padding: 8px 20px;
  cursor: pointer;
}
.image-preview {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.click-preview {
  position: absolute;
  width: 100%;
  text-align: center;
}

/* Calendar Monthly View */
.container {
  padding: 1.5vh 72px;
}

.header-container {
  height: 10vh;
}

.calendar-container {
  height: 87vh;
}

.rbc-calendar .rbc-month-view {
  border: 0;
}

.rbc-month-header .rbc-header:first-of-type {
  border-top-left-radius: 8px;
}

.rbc-month-header .rbc-header:last-of-type {
  border-top-right-radius: 8px;
}

.rbc-month-view
  .rbc-month-row:last-of-type
  .rbc-row-bg
  .rbc-day-bg:first-of-type {
  border-bottom-left-radius: 8px;
}
.rbc-month-view
  .rbc-month-row:last-of-type
  .rbc-row-bg
  .rbc-day-bg:last-of-type {
  border-bottom-right-radius: 8px;
}

.rbc-row-bg .rbc-today {
  background-color: transparent;
}

.toolbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.toolbar-left {
  display: flex;
  gap: 30px;
  align-items: center;
}

.toolbar-left button {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

.toolbar-left .date-label {
  margin: 0;
}

.toolbar-right {
  display: flex;
  align-items: center;
  border: 1px solid #2bbecb;
  border-radius: 8px;
}

.toolbar-right label {
  width: 120px;
  font-size: 16px;
  font-weight: 400;
  padding: 4px 16px;
  text-align: left;
  border-top: unset;
  border-bottom: unset;
  background: transparent;
  border: none;
}

.toolbar-right label:first-of-type {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-left: unset;
  border-right: 1px solid #2bbecb;
}
.toolbar-right label:last-of-type {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-right: unset;
  border-left: 1px solid #2bbecb;
}

.rbc-month-view .rbc-day-bg {
  border: 1px solid #2bbecb;
}

.rbc-month-header .rbc-header {
  border: 1px solid #2bbecb;
  border-bottom: 0;
  padding: 8px;
  text-align: left;
}
.rbc-row .rbc-date-cell {
  color: #2bbecb;
  text-align: left;
  padding: 8px;
}
.rbc-row .rbc-row-segment {
  padding: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.rbc-row .rbc-row-segment .rbc-event {
  border-radius: 4px;
}
.rbc-row .rbc-row-segment .rbc-event.rbc-selected {
  background-color: #2bbecb;
}

.rbc-row .rbc-event,
.rbc-day-slot .rbc-background-event {
  background-color: #2bbecb;
}

.rbc-row .rbc-row-segment .rbc-event {
  margin: 0 0 4px 0;
}

.rbc-timeslot-group .rbc-day-slot .rbc-event {
  background-color: #2bbecb;
}

.rbc-month-header .rbc-header span {
  text-transform: uppercase;
  border-bottom: 0;
}

.rbc-month-view .rbc-month-row + .rbc-month-row {
  border-top: 0;
}

.rbc-date-cell .rbc-button-link {
  font-size: 14px;
  font-weight: 500;
}

.rbc-date-cell.rbc-now .rbc-button-link {
  background-color: #eb008b;
  color: white;
  font-weight: 700;
  padding: 5px;
  border-radius: 50%;
  margin-top: -5px;
}

.close-icon-container {
  cursor: pointer;
}

.rbc-overlay .rbc-event {
  background-color: #2bbecb;
  border-radius: 4px;
  margin: 0 0 4px 0;
}
.rbc-overlay .rbc-event.rbc-selected {
  background-color: #2bbecb;
  border-radius: 4px;
  margin: 0 0 4px 0;
}

/* Meeting Details Tabs */
.react-tabs .react-tabs__tab-list {
  border-bottom: 2px solid #dddddd !important;
}

.selected-tab {
  border-bottom: 4px solid #2bbecb !important;
}

/* Daily View */
.rbc-events-container .rbc-event {
  background-color: #2bbecb;
  border: 0;
  border-radius: 4px;
}
.rbc-events-container .rbc-event.rbc-selected {
  background-color: #2bbecb;
  border: 0;
  border-radius: 4px;
}

.rbc-events-container .rbc-event .rbc-event-label {
  display: none;
}

.rbc-time-gutter .rbc-timeslot-group {
  min-height: 100px;
}

.rbc-time-gutter .rbc-timeslot-group .rbc-time-slot .rbc-label {
  color: #444444;
  font-size: 14px;
  font-weight: 700;
}

.rbc-day-slot .rbc-event,
.rbc-day-slot .rbc-background-event {
  border: 0 !important;
}

.rbc-time-content .rbc-today {
  background-color: transparent;
}

.rbc-day-slot .rbc-timeslot-group {
  min-height: 100px;
}
.rbc-time-view .rbc-time-header {
  display: none;
}

.rbc-calendar .rbc-time-view {
  border: 0;
}
